<% provide(:about_active, 'active') %>
<h1>About</h1>
<body> Folio is a portfolio showcasing site for computer science students, teachers, recruiters, or individuals who want to showcase their best programming projects. Folio offers an easy, user-friendly environment to aid those who want their hard work to be noticed by others. 
</body>