<% provide(:contact_active, 'active') %>
<h1>Contact</h1>
<h4>Name:</h4><h5>Tiffany Tran</h5>

<br>

<h4>Major:</h4><h5>Computer Science</h5>

<br>

<h4>Year:</h4><h5>Junior</h5>

<br>

<h4>Projected Graduation:</h4><h5>Spring 2023</h5>

<br>

<h4>Email:</h4><h5>ttran3@uccs.edu</h5>
