<% if false %>
=begin
<% provide(:page_title, 'All Posts') %>
<% provide(:portfolio_active, 'active') %>

<div class="row">
      <%= render @projects %>
</div>

<% end %>

<% provide(:page_title, 'All Projects') %>
<% provide(:portfolio_active, 'active') %>

<div class="row">
  <%= render @projects %>
</div>

